# Build
build
release
debug
*.so

# FB
fb
TARGETS

# Conan
conanbuildinfo*
conan.lock
arrayfire
conaninfo*
graph_info.json

# Python bindings
__pycache__/
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
*.egg-info/
.installed.cfg
*.egg
wheels/

# Coverage
*.info

# Precompiled Headers
*.gch
*.pch

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Dev environment
.vscode
