certifi==2023.7.22
cycler==0.10.0
Cython==0.29.22
kiwisolver==1.3.1
matplotlib==3.4.1
numpy==1.22.0
Pillow==10.0.1
pycocotools==2.0.2
pyparsing==2.4.7
python-dateutil==2.8.1
six==1.15.0
torch==1.13.1
typing-extensions==3.7.4.3
